/** last changed: 2018.3.25 */

body {
  margin: 0 auto;
  width: 100%;
  min-width: 310px;
  background-color: #eee;
  user-select: none;
  cursor: default;
  font-family: 'Consolas', 'Monaco', 'Arial';
}

/* header */
.header {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.header .menu {
  padding: 5px 20px;
}

.menu .title {
  font-weight: bold;
}

.menu span {
  font-size: 16px;
}

.menu select {
  font-size: 16px;
  background-color: #eee;
  border: dashed #000 1px;
  width: min-content;
  height: 25px;
}

.menu input {
  margin: 0;
}

/* workspace */
.workspace {
  margin: auto;
  width: 300px;
}

.workspace .row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
}

.workspace .row .example {
  font-size: 64px;
}

.workspace .row .q {
  font-size: 60px;
}

.workspace .row .btn {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  width: 70px;
  height: 70px;
  font-size: 48px;
  border: dashed #fff 1px;
  line-height: 100px;
  color: #fff;
  background-color: #459df5;
}

.workspace .row .btn:hover {
  border: solid #777 1px;
}

.workspace .row input {
  width: 120px;
  font-size: 54px;
  text-align: center;
  border: solid #eee;
  border-bottom: dashed #000;
  background-color: #eee;
  -webkit-appearance: none;
  border-radius: 0;
  display: inline;
  text-transform: capitalize;
}

.workspace .row input:hover {
  border-bottom: solid #111;
}

/* keyboard */
.keyboard {
  width: 95%;
  text-align: center;
  margin: 20px auto;
}

.keyboard .pic {
  width: 100%;
  max-width: 700px;
  z-index: 1;
}

.keyboard .tips {
  width: 60%;
  max-width: 700px;
  min-width: 300px;
  margin: auto;
  font-size: 12px;
  color: #777;
}

.keyboard .tips .line {
  text-align: center;
  font-weight: bold;
  color: #333;
  margin: 5px;
}

/* tips */
.tips {
  width: 95%;
  text-align: center;
  margin: 20px auto;
}

.tips p {
  color: #333;
  font-size: 14px;
  margin: 5px 0;
}

/* footer */
.footer {
  margin: 20px auto;
  width: 100%;
}

/* wx */
.wx {
  min-width: 160px;
  position: relative;
  float: right;
  right: 25px;
}

.wx #wx_title {
  font-weight: bold;
  font-style: italic;
  font-size: 14px;
  color: #777;
}

.wx #wx_name {
  font-weight: bold;
  color: #319A31;
  margin-left: 0;
}

.wx #wx_qr {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 250px;
  height: 250px;
  border: dashed #777 1px;
  z-index: 1;
}

/* copyright */
.copyright {
  min-width: 250px;
  position: relative;
  float: left;
  left: 25px;
  text-align: left;
  margin-bottom: 25px;
}

.copyright span {
  font-size: 14px;
  color: #777;
}

.copyright a {
  font-size: 12px;
  color: #888888;
  font-style: italic;
}

/* pay */
.pays {
  clear: both;
}

.pays .pay_title {
  margin-left: 25px;
  font-weight: bold;
  color: #777;
}

.pays .pay_name {
  font-weight: bold;
  margin-left: 10px;
}

.pays #alipay {
  color: #0087ff;
}

.pays #wxpay {
  color: #319A31;
}

.pays img {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 250px;
  height: 250px;
  border: dashed #777 1px;
  z-index: 1;
}