body {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 500px;
    min-width: 500px;
    min-height: 500px;
    background-color: #eee;
    user-select: none;
    cursor: default;
    overflow-y: hidden;
    font-family: 'Consolas', 'Monaco', 'Arial';
}

.header {
    width: 100%;
    height: 50px;
}

.header span {
    float: left;
    font-size: 16px;
    margin: 5px 20px;
}

.header select {
    margin: 5px 0;
    float: left;
    font-size: 16px;
    background-color: #eee;
    border: dashed #000 1px;
    width: 120px;
    overflow: hidden;
    display: inline-block;
}

.container {
    height: 200px;
    width: 48%;
    position: relative;
    top: 20%;
}

.left {
    float: left;
    text-align: right;
}

.right {
    float: right;
    text-align: left;
}

.container p {
    height: 100px;
    font-size: 64px;
    margin: 0;
}

.container input {
    width: 72px;
    font-size: 72px;
    text-align: center;
    border: none;
    border-bottom: dashed #000;
    background-color: #eee;
}

.container input:focus {
    border: solid #181878;
    background-color: #fff;
}

.container input:hover {
    border: solid #111;
}

.middle {
    height: 100px;
    clear: both;
    margin: auto;
    top: 30%;
}

.container span {
    margin: auto;
    height: 100px;
    width: 100px;
    font-size: 64px;
    background-color: #ccc;
    border: dashed #000 1px;
    display: block;
    line-height: 100px;
}

.container span:hover {
    background-color: #ddd;
    border: solid #000 1px;
}

#btn_redo {
    color: #777;
}

#btn_next {
    display: none;
    color: #fff;
    background-color: #86ff6c;
}