/** last changed: 2022.9.29 */

:root {
    --back: var(--light-white);
    --front: var(--light-black);
    --light-white: #fffff0;
    --light-black: #2c2c2c;
    --dark-white: #ccc;
    --dark-black: #333;
    --x: #7eac80;
    --font: 'ocrasxtended', 'Consolas', 'Courier', 'Monospace', monospace;
}

@font-face {
    font-family: 'ocrasxtended';
    src: url('/font/ocraextended-min.ttf');
}

@font-face {
    font-family: 'setting-button';
    src: url('/font/setting-button-from-heydings-icons.ttf');
}

html,
body {
    min-width: 100%;
    min-height: 100%;
    /* width: 100%;
    height: 100%; */
}

body {
    margin: 0 auto;
    width: 100%;
    min-width: 310px;
    height: 100%;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    font-family: sans-serif;
    overflow: overlay;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


/* light mode */

body {
    background-color: var(--back);
}

body * {
    background-color: transparent;
    color: var(--front);
}


/* settings */

#setting-button {
    position: fixed;
    top: 20px;
    left: 25px;
    font-size: 32px;
    cursor: pointer;
    z-index: 3;
    font-family: "setting-button";
}

#setting-background {
    transition: background-color .5s ease-in-out .2s;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    background-color: #33333300;
    /* display: none; */
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    -o-pointer-events: none;
    pointer-events: none;
}

.settings {
    left: -250px;
    position: fixed;
    width: 250px;
    z-index: 5;
    height: 100%;
    transition: left .5s ease-in-out 0s;
    overflow-y: overlay;
    background-color: var(--back);
    /* width: 100%; */
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    justify-content: start;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.settings .menu {
    padding: 5px 10px;
    display: inline-block;
}

.settings .menu>select>option {
    background-color: var(--back);
}

#open-setting:checked+#setting-background {
    background-color: #1111119c;
    -webkit-pointer-events: auto;
    -moz-pointer-events: auto;
    -ms-pointer-events: auto;
    -o-pointer-events: auto;
    pointer-events: auto;
    transition: background-color .5s ease-in-out 0s;
}

#open-setting:checked+#setting-background>.settings {
    left: 0;
    transition: left .5s ease-in-out .2s;
}

.menu .title {
    font-weight: bold;
}

.menu span {
    font-size: 16px;
}

.menu select {
    font-size: 16px;
    border: solid var(--front) 2px;
    width: min-content;
    height: 25px;
    border-radius: 4px;
}

.menu input {
    margin: 0;
}

.menu button {
    margin-top: 20px;
    width: 150px;
    height: 45px;
    border-radius: 8px;
    border-style: solid;
    border-color: var(--front);
}


/* main-fullscreen */

#full-screen-button {
    position: fixed;
    top: 32px;
    right: 32px;
    /* font-size: xx-large; */
    height: 32px;
    width: 32px;
    cursor: pointer;
    z-index: 3;
}

main:fullscreen {
    background-color: var(--back);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

main:fullscreen>.workspace {
    margin-bottom: 20px;
}

#full-screen-button>svg>.arrow {
    fill: var(--front)
}

main:fullscreen>#full-screen-button>svg>#tl {
    /* display: block; */
    transform: translate(18.8px, 18.8px);
}

main:fullscreen>#full-screen-button>svg>#tr {
    /* display: block; */
    transform: translate(-18.8px, 18.8px);
}

main:fullscreen>#full-screen-button>svg>#bl {
    /* display: block; */
    transform: translate(18.8px, -18.8px);
}

main:fullscreen>#full-screen-button>svg>#br {
    /* display: block; */
    transform: translate(-18.8px, -18.8px);
}


/* workspace */

.workspace {
    margin: 0 auto;
    width: 300px;
    height: 150px;
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
}

.workspace .col {
    margin: 10px;
    display: inline-block;
}

.workspace .col .dict {
    font-size: 96px;
    cursor: pointer;
}

.workspace .col .row {
    height: 50px;
}

.workspace .col .row .q {
    font-size: 36px;
    font-family: var(--font);
}

.workspace .col .row .btn {
    display: inline-block;
    font-size: 32px;
    cursor: pointer;
}

.workspace .col .row input {
    width: 2em;
    padding-left: 2px;
    /* font-size: 36px; */
    font-size: inherit;
    border: none;
    cursor: default;
    font-family: var(--font);
    /* border-bottom: dashed var(--light-black); */
    letter-spacing: 14px;
    /* padding: 5px; */
    outline-style: none;
    color: transparent !important;
    text-shadow: 0 0 0 var(--front);
    -webkit-appearance: none;
    border-radius: 0;
    display: inline;
    text-transform: capitalize;
}

#input {
    position: relative;
}

#under-line {
    display: inline-block;
    margin: 0;
    width: 75px;
    height: 45px;
    font-size: 36px;
}

#under-line[key="first"]::before,
#under-line[key="both"]::before,
#under-line[key="second"]::after,
#under-line[key="both"]::after {
    background-color: var(--x) !important;
}

#under-line::before {
    content: '';
    display: block;
    position: absolute;
    font-size: inherit;
    top: calc(1em + 8px);
    background-color: var(--front);
    width: 0.75em;
    height: 3px;
}

#under-line::after {
    content: '';
    display: block;
    position: absolute;
    font-size: inherit;
    top: calc(1em + 8px);
    left: 1em;
    background-color: var(--front);
    width: 0.75em;
    height: 3px;
}

#btn {
    position: relative;
    /* top: -25px; */
}


/* .workspace .col .row input:hover {
    border-bottom: solid var(--light-black);
} */


/* keyboard */

.keyboard {
    text-align: center;
    margin: 20px auto;
}

.keyboard .keys {
    /** 1874 / 1928 * 700 */
    margin: 10px auto;
    width: 680px;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 2;
    opacity: 0.2;
}

.keyboard .keys .row-2 {
    /** 90 / 1928 * 700 */
    margin-left: 33px;
}

.keyboard .keys .row-3 {
    /** 180 / 1928 * 700 */
    margin-left: 65px;
}

.keyboard .keys .key {
    /** 180 / 1928 * 700 */
    width: 64.5px;
    /** 180 / 1928 * 700 */
    height: 64.5px;
    float: left;
}

.keyboard .keys .key.answer {
    background-color: #007700;
}

.keyboard .keys .key.pressed {
    background-color: #02b9ff;
}

.keyboard .pic {
    width: 100%;
    min-width: 310px;
    max-width: 700px;
    /* 820 / 1928 == 205 / 482 */
    height: calc(var(--svg-keyborad-width) / 482 * 205);
    z-index: 1;
    /* filter: invert(0.07); */
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
}

img.pic {
    opacity: 0.2;
}


#kuang polyline,
#kuang-ling-sheng-mu polyline,
#kuang-other polyline {
    fill: transparent;
    stroke: var(--front);
    stroke-width: 3;
}

#kuang-other {
    display: none;
}

text {
    fill: var(--front)
}

#sheng-mu text {
    font-size: 40px;
    font-weight: bold;
    /* font-weight: 550px; */
}

#sheng-mu text.underline {
    fill: red;
}

#sheng-mu.col-2 text {
    text-anchor: end;
    fill: #02b9ff;
}

#yun-mu text {
    font-size: 34px;
    font-weight: 600;
    text-anchor: end;
}

#ling-sheng-mu text,
#ling-sheng-mu-other text {
    font-size: 35px;
    font-weight: 500;
    text-anchor: middle;
}

#ling-sheng-mu text.output,
#ling-sheng-mu-other text.output {
    font-style: italic;
    font-size: 30px;
}

.keyboard .pic-placeholder {
    height: 300px;
}

.key {
    cursor: pointer;
}

@media screen and (min-width: 0\0) and (min-resolution:+72dpi) {

    /* IE */
    .keyboard .pic {
        filter: none;
    }
}

@media screen and (max-width: 390px) {
    main {
        margin-top: 50px !important;
    }
}

.keyboard .tips {
    width: 60%;
    max-width: 700px;
    min-width: 300px;
    margin: auto;
    font-size: 12px;
    color: #777;
}

.keyboard .tips .line {
    text-align: center;
    font-weight: bold;
    color: #333;
    margin: 5px;
}


/* manual */

.manual {
    width: 50%;
    min-width: 230px;
    text-align: center;
    margin: 20px auto;
}

.manual p {
    font-size: 14px;
    margin: 5px;
    display: inline-block;
}


/* footer */

footer {
    /* margin-top: auto;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px; */
    margin-top: 100px;
    margin-bottom: 0;
    /* margin: 20px auto; */
    width: 100%;
    /* position: sticky-footer; */
}


/* wx */

.wx {
    min-width: 160px;
    position: relative;
    float: right;
    right: 20px;
    z-index: 1;
}

.wx #wx-title {
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
    color: #777;
}

.wx #wx-name {
    font-weight: bold;
    color: #319A31;
    margin-left: 0;
}

.wx #wx-qr {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 250px;
    height: 250px;
    border: dashed #777 1px;
    z-index: 1;
}


/* copyright */

.copyright {
    min-width: 250px;
    position: relative;
    float: left;
    left: 25px;
    text-align: left;
    margin-bottom: 20px;
}

.copyright span {
    font-size: 14px;
    color: #777;
}

.copyright a {
    font-size: 12px;
    color: #888888;
    font-style: italic;
}


/* pay */

.pays {
    clear: both;
}

.pays .pay-title {
    margin-left: 25px;
    font-weight: bold;
    color: #777;
}

.pays .pay-name {
    font-weight: bold;
    margin-left: 10px;
}

.pays #alipay {
    color: #0087ff;
}

.pays #wxpay {
    color: #319A31;
}

.pays img {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 250px;
    height: 250px;
    border: dashed #777 1px;
    z-index: 1;
}

#alipay-qr {
    display: none;
}

#alipay-qr:active {
    display: none !important;
}

#alipay:hover+#alipay-qr {
    display: block;
}

#alipay-qr:hover {
    display: block;
}

#wxpay-qr {
    display: none;
}

#wxpay-qr:active {
    display: none !important;
}

#wxpay:hover+#wxpay-qr {
    display: block;
}

#wxpay-qr:hover {
    display: block;
}

#wx-qr {
    display: none;
}

#wx-qr:active {
    display: none !important;
}

#wx-name:hover+#wx-qr {
    display: block;
}

#wx-qr:hover {
    display: block;
}


/* dark mode */

.dark-mode,
.dark-mode * {
    --back: var(--dark-black);
    --front: var(--dark-white);
}


/* 
.dark-mode,
.dark-mode * {
    background-color: var(--black);
    color: var(--white);
} */

.dark-mode .workspace .col .row input {
    /* border: none; */
    /* border-bottom: dashed var(--dark-white); */
    /* text-shadow: 0 0 0 var(--white); */
}

.dark-mode #under-line::before,
.dark-mode #under-line::after {
    /* background-color: var(--white); */
}

.dark-mode .keyboard .pic {
    /* filter: invert(0.8); */
}

.dark-mode .keyboard .keys .key.answer {
    background-color: #77FF77 !important;
}

.dark-mode .keyboard .keys .key.pressed {
    background-color: #ffec02 !important;
}